<!-- media object component -->

<div class="media">
	<div class="media__image">
		<svg class="icon icon--primary">
			<use href="icons/sprite.svg#snap"></use>
		</svg>
	</div>
	<div class="media__body">
		<h3 class="media__title">Easy start</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Error quidem
			obcaecati illo eligendi beatae, commodi ducimus
		</p>
	</div>
</div>

<style>
	/* media object */
	.media {
		display: flex;
	}

	.media__title {
		margin-top: 0;
	}
	.media__body {
		margin: 0 2rem;
	}

	.media__image {
		margin-top: 1rem;
	}
</style>
